.titulonombre{
    text-align: center;
    color: white;
    font-size: 80px;
    font-family:cursive;

}
.descripcion{ 
    text-align: center;
    color: white;
    font-size: 30px;
}

.imagen{
    text-align: center;
}
img{ width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;

}

body{
    background-color: rgb(211, 190, 231);
}

h2{
    text-align: center;
    color: rgb(202, 125, 148);
    
}
.tablaeducacion{
    margin-left: 450px;
}
.tablaexperiencia{
    margin-left: 450px;
}
p,redes{
    text-align: center;
   
}
.listaredessociales{
    margin-left: 550px;
}
th,educacion{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th,experiencia{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}